/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./components/main/page.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_main__VSJa2 {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.page_main__VSJa2 .page_title__9rhRk {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 18px;
}
.page_main__VSJa2 .page_title__9rhRk h1 {
  font-weight: 400;
  color: white;
  margin: 0px;
  text-align: center;
}
.page_main__VSJa2 .page_title__9rhRk p {
  color: grey;
  margin: 0px;
  text-align: center;
  margin-top: 10px;
}
.page_main__VSJa2 .page_plane__BH0_Q {
  width: 100%;
  height: 100%;
  position: absolute;
}
.page_main__VSJa2 .page_plane__BH0_Q img {
  position: absolute;
  border: 5px solid white; /* Add white border */
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); /* Add white shadow */
}
.page_main__VSJa2 .page_plane__BH0_Q:nth-of-type(1) {
  filter: brightness(0.7);
}
.page_main__VSJa2 .page_plane__BH0_Q:nth-of-type(1) img:nth-of-type(1) {
  left: 90%;
  top: 70%;
}
.page_main__VSJa2 .page_plane__BH0_Q:nth-of-type(1) img:nth-of-type(2) {
  left: 5%;
  top: 65%;
}
.page_main__VSJa2 .page_plane__BH0_Q:nth-of-type(1) img:nth-of-type(3) {
  left: 35%;
  top: 0%;
}
.page_main__VSJa2 .page_plane__BH0_Q:nth-of-type(2) {
  filter: brightness(0.6);
}
.page_main__VSJa2 .page_plane__BH0_Q:nth-of-type(2) img:nth-of-type(1) {
  left: 5%;
  top: 10%;
}
.page_main__VSJa2 .page_plane__BH0_Q:nth-of-type(2) img:nth-of-type(2) {
  left: 80%;
  top: 5%;
}
.page_main__VSJa2 .page_plane__BH0_Q:nth-of-type(2) img:nth-of-type(3) {
  left: 60%;
  top: 60%;
}
.page_main__VSJa2 .page_plane__BH0_Q:nth-of-type(3) {
  filter: brightness(0.5);
}
.page_main__VSJa2 .page_plane__BH0_Q:nth-of-type(3) img:nth-of-type(1) {
  left: 65%;
  top: 2.5%;
}
.page_main__VSJa2 .page_plane__BH0_Q:nth-of-type(3) img:nth-of-type(2) {
  left: 40%;
  top: 75%;
}
